  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Our Videos</h2>
        <h3>Only The Best</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>Starlink</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxrW-cKlbMQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <p>LYFT</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3e2YgLHKePI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="col-sm-6">
        <p>gifts</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/gifts.jpg">
      </div>
      <div class="col-sm-6">
        <p>antiques</p>
        <img src="https://content.codecademy.com/projects/make-a-website/lesson-4/antique.jpg">
      </div>
    </div>
    <div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>
  </section>